.title {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    -webkit-filter: brightness(0.5);
  }

  h1 {
    position: absolute;
    font-weight: bold;
    color: white;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -45%);
    z-index: 3;
  }
}

.release-info {
  h2 {
    margin: 10px;
  }

  p {
    text-align: center;
  }
}

.wedding-info {
  h2 {
    margin: 10px;
  }
}